<!DOCTYPE html>
<html lang="en" xmlns:th="http://www/thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>

<form method = "post" action = "/user">
    <label> Username
        <input type = "text" name = "Username">
    </label>
    <label> Email
        <input type = "email" name = "Email">
    </label>
    <label> Password
        <input type = "password" name = "Password">
    </label>
    <label> Verify Password
        <input type = "password" name = "Verify Password">
    </label>
</form>

</body>
</html>